fastapi==0.139.2
uvicorn
SQLAlchemy==2.0.51
psycopg2-binary==2.9.12
python-jose==3.5.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart
email-validator==2.3.0
python-dotenv==1.2.2
pydantic-settings==2.14.2
mediapipe==0.10.14
opencv-python
